@use "../../base/placeholders" as *;
@use "../../base/variables" as *;

.headquarters {
  @include flex-column($gap: $gap-72);
  text-align: center;

  @include desktop {
    width: 100%;
    max-width: 104.5rem;
    margin: auto;
  }

  h2 {
    color: $text-grey;
    font-size: 2.4rem;
    line-height: 3.2rem;

    @include tablet {
      text-align: left;
    }
  }

  &__wrapper {
    @include flex-column($gap: $gap-80, $align-items: center);

    @include tablet {
      flex-direction: initial;
      justify-content: space-between;
      gap: 10px;
    }
  }

  article {
    @include flex-column($gap: $gap-48, $align-items: center);
    text-align: center;

    @include tablet {
      width: 100%;
      max-width: 22.3rem;
      align-items: flex-start;
      text-align: left;

      h3 {
        font-size: 2.4rem;
      }
    }

    img {
      width: min-content;
    }

    div {
      @include flex-column($gap: $gap-22);
      color: $text-grey-700;
    }
  }
}
