@use "../base/placeholders" as *;
@use "../base/variables" as *;

.container {
  background: $bg-lightCream;
  padding: $padding-container-mobile;

  @include tablet {
    padding: $padding-container-tablet;
  }

  @include desktop {
    padding: $padding-container-desktop;
  }
}

.main {
  @include flex-column($gap: $gap-main-mobile);

  @include tablet {
    gap: $gap-main-tablet;
  }

  @include desktop {
    gap: $gap-main-desktop;
  }
}
