@use "../base/placeholders" as *;
@use "../base/variables" as *;

.sidenav {
  position: absolute;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background: $sidebar-gradient;
  transition: top 0.5s ease;
  z-index: 20;

  @include tablet {
    width: auto;
    position: initial;
    height: auto;
  }

  &__list {
    @include flex($gap: $gap-32, $align-items: center, $flex-direction: column);
    padding-top: 2rem;

    @include tablet {
      @include flex-row($gap: $gap-32);
      padding-top: 0;
    }
  }

  &__link {
    font-weight: $font-weight-extra-bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-decoration: none;
    color: $text-grey-700;
    font-family: "Fraunces";
    color: $text-grey-700;

    &:hover {
      color: $text-grey-700;
    }

    @include tablet {
      font-weight: $font-weight-bold;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: $text-grey;
      text-transform: uppercase;
      letter-spacing: $letter-spacing;
      font-family: "Barlow";
    }
  }
}
