@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.container {
  background: $color-quaternary;
  padding: 3.2rem 2.4rem 7.2rem 2.4rem;

  @include tablet {
    padding: 4rem 3.9rem 7.2rem 4rem;
  }

  @include desktop {
    padding: 4.35rem 8rem 7.2rem 8rem;
  }
}

.main {
  @include flex-column($gap: $gap-120);

  @include tablet {
    gap: 14.4rem;
  }

  @include desktop {
    gap: 20rem;
  }
}

.selection {
  @include flex-column($gap: $gap-110);

  @include tablet {
    gap: 10rem;
  }
}
