@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.container {
  background: $color-quaternary;
  padding: 0 2.4rem 7.2rem 2.4rem;

  @include tablet {
    padding: 0 3.9rem 7.2rem 4rem;
  }
}

.main {
  @include flex-column($gap: $gap-120);
}

.selection {
  @include flex-column($gap: $gap-110);
}
