@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.container {
  background: $color-quaternary;
  padding: 3.2rem 2.4rem 7.2rem 2.4rem;
}

.main {
  @extend %flex-column;
  gap: 12rem;
}
