@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.footer {
  @include flex-column($gap: $gap-48, $align-items: center);
  background: $bg-footer;
  padding: 5.4rem 0;
  margin-top: 12rem;

  &__nav {
    ul {
      @include flex-column($gap: $gap-24, $align-items: center);

      a {
        font-weight: $font-weight-bold;
        color: $text-grey;
        text-transform: $text-uppercase;
        text-decoration: none;
        letter-spacing: $letter-spacing;
      }
    }
  }

  &__social {
    ul {
      @include flex-center($gap: $gap-24);
    }
  }
}
