@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.footer {
  @extend %flex-column;
  align-items: center;
  gap: 48px;
  background: $bg-footer;
  padding: 54px 0;
  margin-top: 120px;

  &__nav {
    ul {
      @extend %flex-column;
      align-items: center;
      gap: 24px;

      a {
        font-weight: 700;
        color: $color-quinary;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.923077px;
      }
    }
  }

  &__social {
    ul {
      @extend %flex-center;
      gap: 24px;
    }
  }
}
