@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.footer {
  @include flex-column($gap: $gap-48, $align-items: center);
  background: $bg-footer;
  padding: 5.4rem 0;
  margin-top: 12rem;

  @include tablet {
    gap: initial;
  }

  @include desktop {
    flex-direction: initial;
    justify-content: space-between;
    align-items: center;
    padding: 4.7rem 8.5rem;
  }

  .left-side {
    @include flex-column($gap: 4.8rem, $align-items: center);

    @include tablet {
      gap: $gap-32;
    }

    @include desktop {
      gap: 102px;
      flex-direction: initial;
    }
  }

  &__nav {
    @include tablet {
      padding-bottom: 6.5rem;
    }

    @include desktop {
      padding-bottom: 0;
    }

    ul {
      @include flex-column($gap: $gap-24, $align-items: center);

      @include tablet {
        flex-direction: initial;
        gap: $gap-32;
      }

      a {
        font-weight: $font-weight-bold;
        color: $text-grey;
        text-transform: $text-uppercase;
        text-decoration: none;
        letter-spacing: $letter-spacing;
      }
    }
  }

  &__social {
    height: 2.4rem;
    ul {
      @include flex-center($gap: $gap-24);
    }
  }
}
