@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.header {
  position: relative;
  @extend %flex-column;
  margin-bottom: 4rem;

  &__wrapper {
    width: 100%;
    @extend %flex-between;
  }

  &__logo {
    width: 100%;
    max-width: 16.3rem;
  }
}
