@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.header {
  @extend %flex-column;
  margin-bottom: 40px;

  &__wrapper {
    width: 100%;
    @extend %flex-between;
  }

  &__logo {
    width: 100%;
    max-width: 163px;
  }

  &__hamburgerBtn {
    @extend %flex-center;
    background: transparent;
    border: none;

    &--icon {
      cursor: pointer;
    }
  }
}
