@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.header {
  position: relative;
  width: 100%;
  @extend %flex-between;
  margin-bottom: 4rem;

  // &__wrapper {
  // }

  &__logo {
    width: 100%;
    max-width: 16.3rem;
  }
}
