@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.hero {
  @extend %flex-center;
  min-height: 40rem;
  text-align: center;
  color: $color-quaternary;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 1rem;
  padding: 0 2.4rem;
  z-index: 10;

  &__title {
    margin-bottom: 2.4rem;
  }

  &__subtitle {
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 3.9rem;
  }
}

.hero--home {
  min-height: 50rem;
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
}

.hero--about {
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
}

.hero--subscribe {
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
}
