@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.hero {
  @extend %flex-column;
  justify-content: center;
  min-height: 40rem;
  color: $text-white-700;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: $rounded;
  padding: 0 2.4rem;
  z-index: 10;

  @include tablet {
    padding: 0 5.8rem;
  }

  @include desktop {
    width: 100%;
    max-width: 128rem;
    margin: auto;
  }

  &__wrapper {
    text-align: center;

    @include tablet {
      max-width: 398px;
      text-align: initial;
    }

    @include desktop {
      max-width: 493px;
    }

    h1,
    h2 {
      margin-bottom: 2.4rem;
    }

    p {
      max-width: 44.5rem;
      mix-blend-mode: normal;
      opacity: 0.8;
    }

    button {
      margin-top: 3.9rem;

      @include desktop {
        margin-top: 5.6rem;
      }
    }
  }
}

.hero--home {
  min-height: 50rem;
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");

  @include tablet {
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
  }

  @include desktop {
    min-height: 60rem;
    background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
  }
}

.hero--about {
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");

  @include tablet {
    background-image: url("../assets/about/tablet/image-hero-whitecup.jpg");
  }

  @include desktop {
    background-image: url("../assets/about/desktop/image-hero-whitecup.jpg");
  }
}

.hero--subscribe {
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");

  @include tablet {
    background-image: url("../assets/plan/tablet/image-hero-blackcup.jpg");
  }

  @include desktop {
    background-image: url("../assets/plan/desktop/image-hero-blackcup.jpg");
  }
}
