@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.hero {
  @extend %flex-center;
  min-height: 400px;
  text-align: center;
  color: $color-quaternary;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  padding: 0 24px;
  z-index: 10;

  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 39px;
  }
}

.hero--home {
  min-height: 500px;
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
}

.hero--about {
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
}

.hero--subscribe {
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
}
