@use "../../abstracts/placeholders" as *;
@use "../../abstracts/variables" as *;

.collection {
  h1 {
    line-height: 72px;
    color: $text-transparent;
    background: $title-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    margin-bottom: 1.3rem;
  }

  &__wrapper {
    @include flex-column($gap: $gap-48);

    article {
      @include flex-column(2.4rem, center);
      text-align: center;

      img {
        width: 100%;
        max-width: 20rem;
      }

      div {
        @include flex-column($gap: $gap-16, $align-items: center);

        h4 {
          color: $text-grey-700;
        }

        p {
          width: clamp(20rem, 100%, 28.2rem);
        }
      }
    }
  }
}
