@use "../../abstracts/placeholders" as *;
@use "../../abstracts/variables" as *;

.collection {
  .title-wrapper {
    @extend %flex-center;
    min-height: 7.2rem;
    background: $title-gradient;
    background-clip: text;
    text-align: center;
    margin-bottom: 1.3rem;

    h1 {
      color: transparent;
    }
  }

  &__wrapper {
    @extend %flex-column;
    align-items: center;
    gap: 4.8rem;

    &--article {
      @extend %flex-column;
      align-items: center;
      text-align: center;
      gap: 2.4rem;

      img {
        width: 100%;
        max-width: 20rem;
        object-fit: cover;
      }

      div {
        @extend %flex-column;
        gap: 1.6rem;

        h4 {
          color: $color-secondary;
        }

        p {
          max-width: 28.2rem;
        }
      }
    }
  }
}
