@use "../../abstracts/placeholders" as *;
@use "../../abstracts/variables" as *;

.collection {
  h1 {
    line-height: 7.2rem;
    color: $text-transparent;
    background: $title-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 1.3rem;

    @include tablet {
      line-height: 11.2rem;
      font-size: 9.6rem;
      margin-bottom: 1.9rem;
    }
  }

  &__wrapper {
    @include flex-column($gap: $gap-48);

    article {
      @include flex-column(2.4rem, center);
      text-align: center;

      @include tablet {
        @include flex(
          $gap: $gap-36,
          $justify-content: center,
          $align-items: center
        );
        text-align: initial;
      }

      img {
        width: 100%;
        max-width: 20rem;

        @include tablet {
          max-width: 25.5rem;
        }
      }

      div {
        @include flex-column($gap: $gap-16, $align-items: center);
        max-width: 282px;

        @include tablet {
          align-items: initial;
          gap: $gap-24;
        }

        h4 {
          color: $text-grey-700;
        }

        p {
          width: clamp(20rem, 100%, 28.2rem);
        }
      }
    }
  }
}
