@use "../../abstracts/placeholders" as *;
@use "../../abstracts/variables" as *;

.feature {
  @extend %flex-column;
  color: $color-quaternary;

  &__header {
    @extend %flex-column;
    text-align: center;
    background: $bg-footer;
    border-radius: 1rem 1rem 0 0;
    padding: 6.4rem 2.4rem 2.8rem 2.4rem;
    gap: 2.4rem;
  }

  &__wrapper {
    position: relative;
    @extend %flex-column;
    align-items: center;
    padding: 3.6rem 2.4rem 0 2.4rem;
    gap: 2.4rem;

    &--bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: calc(44.2rem + (27.9rem / 2));
      background-image: url("../assets/about/mobile/bg-quality.png");
      border-radius: 0 0 1rem 1rem;
      z-index: 10;
    }

    &--article {
      width: 100%;
      @extend %flex-center;
      @extend %flex-column;
      min-height: 38.2rem;
      background: $color-primary;
      border-radius: 0.8rem;
      z-index: 20;
      gap: 5.6rem;

      div {
        @extend %flex-column;
        text-align: center;
        gap: 2.4rem;

        p {
          max-width: 21.2rem;
        }
      }
    }
  }
}
