@use "../../abstracts/placeholders" as *;
@use "../../abstracts/variables" as *;

.feature {
  @extend %flex-column;
  color: $text-white-700;

  &__header {
    @include flex-column($gap: $gap-24);
    text-align: center;
    background: $bg-footer;
    border-radius: 1rem 1rem 0 0;
    padding: 6.4rem 2.4rem 2.8rem 2.4rem;
  }

  &__wrapper {
    @include flex-column($gap: $gap-24, $align-items: center);
    position: relative;
    padding: 3.6rem 2.4rem 0 2.4rem;

    &--bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: calc(44.2rem + (27.9rem / 2));
      background-image: url("../assets/about/mobile/bg-quality.png");
      border-radius: 0 0 1rem 1rem;
      z-index: 10;
    }

    &--article {
      @include flex-column(
        $gap: $gap-56,
        $align-items: center,
        $justify-content: center
      );
      width: 100%;
      min-height: 38.2rem;
      background: $color-primary;
      border-radius: $rounded-sm;
      z-index: 20;

      div {
        @include flex-column($gap: $gap-24);
        text-align: center;

        p {
          width: clamp(21.2rem, 21.2rem, 28.2rem);
        }
      }
    }
  }
}
