@use "../../abstracts/placeholders" as *;
@use "../../abstracts/variables" as *;

.presentation {
  @include flex-column($gap: $gap-80, $align-items: center);
  text-align: center;

  h4 {
    color: $text-grey;
  }

  &__wrapper {
    @include flex-column($gap: $gap-56);

    &--article {
      @include flex-column($gap: $gap-24);

      h1 {
        color: $text-orange;
      }
      h3,
      p {
        color: $text-grey-700;
      }
    }
  }
}
