@use "../../abstracts/placeholders" as *;
@use "../../abstracts/variables" as *;

.tutorial {
  @include flex-column($gap: $gap-56);
  background-image: url("../assets/about/mobile/bg-quality.png");
  background-size: cover;
  border-radius: $border-rounded;
  padding: 8rem 2.4rem;

  article {
    @include flex-column($gap: $gap-24, $align-items: center);
    text-align: center;
    color: $text-white;

    h1 {
      color: $text-orange;
      font-size: 7.2rem;
      line-height: 7.2rem;
    }

    h3 {
      line-height: 3.5rem;
    }
    p {
      @extend %text-opacity;
    }
  }
}
