@use "../base/variables" as *;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%transition {
  transition: all 0.2s ease-in-out;
}

%text-opacity {
  mix-blend-mode: normal;
  opacity: 0.8;
}

// Mixin utility classes
@mixin flex-column($gap: 0, $align-items: initial, $justify-content: initial) {
  display: flex;
  flex-direction: column;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}

@mixin flex-center($gap: 0) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex(
  $gap: 0,
  $justify-content: initial,
  $align-items: initial,
  $flex-direction: initial
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  gap: $gap;
}

// Responsive mixins

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin desktop-quality {
  @media (min-width: $breakpoint-quality) {
    @content;
  }
}

@mixin tablet-feature {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin desktop-feature {
  @media (min-width: 900px) {
    @content;
  }
}
