// Colors
$color-green: #0e8784;
$color-green-200: #66d2cf;
$color-darkBlue: #333d4b;
$color-darkblue-500: #2c343e;
$color-paleOrange: #fdd6ba;
$color-lightCream: #fefcf7;
$color-white: #ffffff;
$color-white-200: #f4f1eb;
$color-grey: #83888f;
$color-grey-200: #a9acb0;
$color-grey-100: #e2dedb;

$btn-hover: $color-green-200;
$btn-disabled: $color-grey-100;

$bg-option: $color-white-200;
$bg-green: $color-green;
$bg-paleOrange: $color-paleOrange;
$bg-lightCream: $color-lightCream;
$bg-darkBlue-500: $color-darkblue-500;

$text-white: $color-white;
$text-white-700: $color-lightCream;
$text-grey: $color-grey;
$text-grey-700: $color-darkBlue;
$text-orange: $color-paleOrange;
$text-green: $color-green;
$text-transparent: transparent;
$text-uppercase: uppercase;
$letter-spacing: 0.009rem;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

$title-gradient: linear-gradient(
  180deg,
  $color-grey-200 0%,
  $color-lightCream 100%
);
$sidebar-gradient: linear-gradient(
  360deg,
  rgba(254, 252, 247, 0.504981) 0%,
  #fefcf7 55.94%
);

$gap-120: 12rem;
$gap-110: 11rem;
$gap-80: 8rem;
$gap-72: 7.2rem;
$gap-56: 5.6rem;
$gap-48: 4.8rem;
$gap-38: 3.8rem;
$gap-36: 3.6rem;
$gap-32: 3.2rem;
$gap-30: 3rem;
$gap-24: 2.4rem;
$gap-22: 2.2rem;
$gap-16: 1.6rem;
$gap-8: 0.8rem;

$border-rounded: 1rem;
$rounded-sm: 0.8rem;
$rounded: 1rem;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1120px;
$breakpoint-quality: 1380px;
