@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.selection {
  @extend %flex-column;
  gap: 11rem;

  .select {
    @extend %flex-column;
    gap: 3.2rem;

    &__label {
      @extend %flex-between;
      user-select: none;
      cursor: pointer;

      h4 {
        max-width: 24rem;
        color: $color-quinary;
      }
    }

    ul {
      @extend %flex-column;
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      gap: 1.6rem;

      li {
        color: $color-secondary;
        background: $bg-option;
        border-radius: 0.8rem;
        padding: 2.4rem;
        cursor: pointer;

        &.selected {
          color: $color-white;
          background: $color-primary;
        }
      }

      &.active {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        height: 0;

        & li {
          opacity: 0;
          height: 0;
          padding: 0;
        }
      }
    }
  }
}
