@use "../../base/placeholders" as *;
@use "../../base/variables" as *;

.feature {
  @extend %flex-column;
  color: $text-white-700;

  @include desktop-feature {
    width: 100%;
    max-width: 128rem;
    margin: auto;
  }

  &__header {
    @include flex-column($gap: $gap-24, $align-items: center);
    text-align: center;
    background: $bg-darkBlue-500;
    border-radius: 1rem 1rem 0 0;
    padding: 6.4rem 2.4rem 2.8rem 2.4rem;

    @include tablet-feature {
      padding: 6.4rem 2.4rem 0 2.4rem;
    }

    &--text {
      max-width: 540px;
      @extend %text-opacity;
    }
  }

  &__container {
    @include flex-column($gap: $gap-24, $align-items: center);
    position: relative;
    padding: 3.6rem 2.4rem 0 2.4rem;

    @include tablet-feature {
      padding: 7rem 5.7rem 0 5.8rem;

      img {
        width: 5.6rem;
      }
    }

    @include desktop-feature {
      flex-direction: initial;
      justify-content: center;
      gap: $gap-30;
    }
  }

  &__card {
    @include flex-column(
      $gap: $gap-56,
      $align-items: center,
      $justify-content: center
    );
    width: 100%;
    min-height: 38.2rem;
    background: $bg-green;
    border-radius: $rounded-sm;
    z-index: 20;

    @include tablet-feature {
      flex-direction: initial;
      justify-content: space-between;
      padding: 0 4.8rem;
      min-height: 18rem;
    }

    @include desktop-feature {
      @include flex-column(
        $gap: $gap-56,
        $align-items: center,
        $justify-content: center
      );
      max-width: 350px;
      min-height: 38.2rem;
      padding: 0.8rem;
    }

    &--wrapper {
      @include flex-column($gap: $gap-24);
      text-align: center;
      max-width: 80%;

      @include tablet-feature {
        text-align: initial;
        gap: $gap-16;
        max-width: 34.4rem;
      }

      @include desktop-feature {
        text-align: center;
        max-width: 25.5rem;
      }

      h3 {
        font-size: 2.4rem;
        line-height: 3.2rem;
      }
    }
  }

  &__patern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: calc(44.2rem + (27.9rem / 2));
    background-image: url("../assets/about/mobile/bg-quality.png");
    border-radius: 0 0 1rem 1rem;
    z-index: 10;

    @include tablet-feature {
      min-height: 380px;
      background: $bg-darkBlue-500;
      background-image: none;
    }

    @include desktop {
      min-height: 280px;
    }
  }
}
