@use "../../base/placeholders" as *;
@use "../../base/variables" as *;

.selection {
  @include desktop {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 12.5rem;
  }

  .stepper {
    display: none;

    @include desktop {
      display: flex;
    }
  }

  &__list {
    @include flex-column($gap: $gap-110);

    @include tablet {
      gap: 10rem;
    }

    @include desktop {
      width: 100%;
      max-width: 73rem;
      gap: 14rem;
    }
  }
}
