@use "../base/placeholders" as *;
@use "../base/variables" as *;

.btn {
  width: 100%;
  max-width: 21.7rem;
  height: 5.6rem;
  border-radius: 0.6rem;
  background: $bg-green;
  border: none;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: $text-white-700;
  cursor: pointer;
  @extend %transition;

  a {
    color: $text-white-700;
    text-decoration: none;
  }

  &:hover {
    background-color: $btn-hover;
  }
  &:disabled {
    background-color: $btn-disabled;
  }
}
