@use "../base/placeholders" as *;
@use "../base/variables" as *;

.select {
  @include flex-column($gap: $gap-32);

  @include tablet {
    width: 100%;
    max-width: 73rem;
    gap: 4rem;
  }

  label {
    @extend %flex-between;
    max-width: 24rem;
    font-weight: 900;
    font-size: 4rem;
    line-height: 4.8rem;
    color: $text-grey;
    user-select: none;
    cursor: pointer;
    font-family: "Fraunces", serif;

    img {
      @extend %transition;
      transform: rotate(180deg);

      &.close {
        transform: rotate(0deg);
      }
    }

    @include tablet {
      max-width: 100%;
    }
  }

  ul {
    @include flex-column($gap: $gap-16);
    visibility: visible;
    opacity: 1;
    @extend %transition;

    @include tablet {
      flex-direction: initial;
      gap: 1rem;
    }

    li {
      color: $text-grey-700;
      background: $bg-option;
      border-radius: 0.8rem;
      padding: 2.4rem;
      cursor: pointer;
      user-select: none;

      @include desktop {
        width: 100%;
        max-width: 22.8rem;
      }

      h2 {
        font-size: 2.4rem;
        line-height: 3.2rem;
      }

      &:hover {
        background: $text-orange;
        @extend %transition;
      }

      @include tablet {
        @include flex-column($gap: $gap-24);
        height: 25rem;
        padding: 3.2rem 2.4rem;
      }

      &.selected {
        color: $text-white;
        background: $bg-green;
      }
    }

    &.close {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      height: 0;

      & li {
        opacity: 0;
        height: 0;
        padding: 0;
      }
    }
  }
}
