@use "../../abstracts/placeholders" as *;
@use "../../abstracts/variables" as *;

.commitment {
  @include flex-column($gap: $gap-48);

  img {
    border-radius: $border-rounded;
  }

  article {
    @include flex-column($gap: $gap-30);
    color: $text-grey-700;
    text-align: center;
  }

  p {
    @extend %text-opacity;
  }
}
