@use "../../abstracts/placeholders" as *;
@use "../../abstracts/variables" as *;

.headquarters {
  @extend %flex-column;
  text-align: center;
  gap: 72px;

  h4 {
    color: $color-quinary;
  }

  &__wrapper {
    @extend %flex-column;
    gap: 80px;
  }

  article {
    @extend %flex-column;
    align-items: center;
    text-align: center;
    gap: 47px;

    img {
      width: min-content;
    }

    div {
      @extend %flex-column;
      gap: 22px;
      color: $color-secondary;
    }
  }
}
