@use "../../abstracts/placeholders" as *;
@use "../../abstracts/variables" as *;

.headquarters {
  @include flex-column($gap: $gap-72);
  text-align: center;

  h4 {
    color: $text-grey;
  }

  &__wrapper {
    @include flex-column($gap: $gap-80, $align-items: center);
  }

  article {
    @include flex-column($gap: $gap-48, $align-items: center);
    text-align: center;

    img {
      width: min-content;
    }

    div {
      @include flex-column($gap: $gap-22);
      color: $text-grey-700;
    }
  }
}
