@use "../../abstracts/placeholders" as *;
@use "../../abstracts/variables" as *;

.quality {
  min-height: 50.9rem;
  position: relative;
  background-image: url("../assets/about/mobile/bg-quality.png");
  background-size: cover;
  border-radius: $border-rounded;
  padding: 0 2.4rem;
  margin-top: calc(19.8rem - 12rem);

  img {
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $border-rounded;
    width: 100%;
    max-width: 27.9rem;
  }

  article {
    @include flex-column($gap: $gap-24);
    text-align: center;
    color: $text-white-700;
    padding-top: 14.2rem;

    p {
      @extend %text-opacity;
    }
  }
}
